*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading{
    width: 0;
    height: 60px;
    background-color: red;
    border-radius: 40px;


    /* Animation */
    animation: loading 2s linear infinite normal;
}
@keyframes loading{           
    0%{ width:0px; }
    10%{ width:30px; background-color: aqua;}
    20%{ width:60px; background-color: black;}
    30%{ width:90px; background-color: blue;}
    40%{ width:120px; background-color: blueviolet;}
    50%{ width:150px; background-color: pink;}
    60%{ width:180px; background-color: purple; }
    70%{ width:210px; background-color: orange;}
    80%{width: 240px; background-color: olivedrab;}
    90%{ width:270px;  background-color: rebeccapurple;}
    100%{width: 300px; background-color: orchid;}
}


